body{
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin: 0px;
    font-family: 'Cafe24SsurroundAir';
}
.name{
    display: inline-flex;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
    font-size: 100px;
    text-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.name1{
    color: #2EE59D;
}
.name2{
    color: #FFE650;
}
.menu {
    height: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.menus{
    text-align: -webkit-center;
}
.bgm .bgm_img {
    width: 50px;
    height: 50px;
}
.bgm {
    background-color: rgba( 255, 255, 255, 0 );
    border-style: none;
    cursor: pointer;
}
#bgmStop {
    display: none;
}
.main {
    top: 15px;
    right: 15px;
}
.button {
    width: 240px;
    height: 75px;
    font-family: 'NEXON Lv1 Gothic OTF';
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.a:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
.b:hover {
    background-color: #FFE650;
    box-shadow: 0px 15px 20px rgba(229, 217, 46, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
.wrap {
  display:block;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  text-align:center;
  background:#f0f0f0;
  padding-top:55px;
}
/* 팝업 */
.box_modal {
    position: fixed;
    display:block;
    width:900px;
    height:700px;
    top:15%;
    left:50%;
    margin-top:-75px;
    margin-left:-450px;
    background:#d9e5e9;
    border:1px solid #386980;
    overflow:hidden;
    /* 디자인 효과*/
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    /* 애니메이션 효과*/
    visibility: collapse;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    transform: scale(0, 0);
}
/* 팝업 닫기 버튼 */
.closer {
    position:absolute;
    width:30px;
    height:30px;
    top:20px;
    right:20px;
    text-align:center;
    line-height:26px;
    font-size:26px;
    cursor:pointer;
}
.closer:hover{
    color: #2EE59D;
}
/* 팝업 내용 */
.text {
    user-select: none;
    height: 100%;
    margin-left:20px;
    margin-top:20px;
    display:inline-block;
    padding:20px;
}
.text h3 {
    font-size:19px;
    margin:0;
}
.text p {
    font-size:13px;
}
.rule{
    user-select: none;
    width: 740px;
    height: 520px;
    padding: 30px;
}
.rule-top{
    position: absolute;
    top: 50px;
    right: 60px;
}
.rule-bottom{
    position: absolute;
    top: 82px;
}
.rulebuttons{
    color: black;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
}
.btn-type{
    user-select: none;
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 11px 11px 1px 1px;
    padding: 5px;
    text-align: center;
}
.btn-color1{
    border: 1px solid rgb(188,241, 255);
    background-color: rgb(188,241, 255);
}
.btn-color2{
    border: 1px solid rgb(229, 210, 232);
    background-color: rgb(229, 210, 232)
}
.btn-color3{
    border: 1px solid rgb(251, 245, 185);
    background-color: rgb(251, 245, 185);
}
.btn-color4{
    border: 1px solid rgb(248, 197, 196);
    background-color: rgb(248, 197, 196);
}
.btn-up{
    -webkit-animation-name : animation_play1;
    -webkit-animation-duration : 0.3s;
    -webkit-animation-fill-mode:both;
}
.btn-down{
    -webkit-animation-name : animation_play2;
    -webkit-animation-duration : 0.3s;
    -webkit-animation-fill-mode:both;
}
@-webkit-keyframes animation_play1 {
    0% {
        -webkit-transform : translateY(0px);
    }
    100% {
        -webkit-transform : translateY(-20px);
    }
}
@-webkit-keyframes animation_play2 {
    0% {
        -webkit-transform : translateY(-20px);
    }
    100% {
        -webkit-transform : translateY(0px);
    }
}
#rule1{
    background-color: rgb(188,241, 255);
}
#rule2{
    display: none;
    background-color: rgb(229, 210, 232);
}
#rule3{
    display: none;
    background-color: rgb(251, 245, 185);
}
#rule4{
    display: none;
    background-color: rgb(248, 197, 196);
}
/* 윈도우 팝업 소스 */
input#modal[type=checkbox]:checked ~ .box_modal {
  visibility: visible;
  -webkit-transform:scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}
input#modal2[type=checkbox]:checked ~ .box_modal2 {
  visibility: visible;
  -webkit-transform:scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}
.hidden{
    display: none;
}
/* font */
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}