body{
	background-size: cover; 
	background-repeat: no-repeat;
	text-align: -webkit-center;
	overflow: hidden;
	cursor:none;
}
/* 마우스 캐릭터*/
.character {
	position: absolute;
	pointer-events: none;
	top: 0;
	left: 0;
	transform: translate(-50%, -50%);
}
/* 현재 위치 - stage 화면 좌측 상단*/
.subtitle{
	position: absolute;
	float: left;
	border: 2px solid black;
	background-color: white;
}
.place{
	display: inline-block; 
	padding-top: 7px;
	padding-bottom: 7px;
}
.p1 {
	padding-left: 7px;
	padding-right: 7px;
	border-right: 2.5px solid black;
	background-color: rgb(98, 207, 98);
}
.p2{
	padding-left: 30px;
	padding-right: 35px;
}
/* 다음 스테이지로 */
.next{
	width: 100px;
	position:absolute; 
	color:red; 
}
/* stage 1 */
.img_desk{
	width: 250px; 
	height: 250px;
}
.desk {
	cursor: pointer;
}
.desks{
	margin-bottom: 80px;
	display: flex;
	justify-content: space-between;
}
.s_table{
	width: 250px;
	height: 250px;
}
.top{
	margin-right: 300px;
}
.hole{
	position: absolute;
	width: 500px; 
}
.pin{
	position: absolute;
	width: 300px; 
}
.trash{
	position: absolute;
	width: 70px; 
	height: 70px;
}
/* stage 3*/
#wastepaper{
	position: absolute; 
	cursor:pointer;
	top: 200px;
	left: 10;
	width: 80px;
	height: 80px;
}